body {
	font-family: arial;
}
section {height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

}
.container {
	max-width: 90%;
	width: 100%;
	margin: auto;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;

}
h3 {
	font-size: 2%;
	color: white;
	font-weight: normal;
	position: relative;
	left: 10%;
}
a {
	color: white;
	position: 
}
